<div class="p-3">
  <%= form_with model: task do |x| %>
    <div class="mb-3">
        <%= x.label :title %>
        <div><%= x.text_field :title %></div>
    </div>
    <div class="mb-3">
      <%= x.label :details %>
      <div><%= x.text_field :details %></div>
    </div>
  <%= x.submit %>
  <% end %>
</div>
